In [1]:
import pandas as pd
import sqlalchemy
import my_file

In [2]:
schema="gans"   # name of the database you want to use here
host="127.0.0.1"        # to connect to your local server
user="root"
password=my_file.mysql_password # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [3]:
cities_df = pd.read_sql_table('cities',con=con)
cities_df

   city_id    City Country  Population  latitude  longitude
0        1  Berlin      DE     3800000   52.3112    13.2418
1        2  London      GB     4100000   51.3026     0.7390

In [4]:
airport_dict = {'ICAO':['EDDB','EGLL'],
                'city_id':[1,2]}

airport_df = pd.DataFrame(airport_dict)
airport_df

   ICAO  city_id
0  EDDB        1
1  EGLL        2

In [5]:
airport_df.to_sql('airports',if_exists='append',index=False,con=con)

2